@model AllegroExtended.Web.Areas.Users.ViewModels.AccountRequestViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("Send", "Request", new { area = "Users" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Request a new account.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-offset-1 col-md-2 pull-left control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-offset-1 col-md-2 pull-left control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Group, new { @class = "col-md-offset-1 col-md-2 pull-left control-label" })
        <div class="col-md-8">
            @Html.DropDownListFor(m => m.Group, new List<SelectListItem> {}, new { @class = "form-control", id = "dd-groups"})
            @Html.ValidationMessageFor(m => m.Group, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Remark, new { @class = "col-md-offset-1 col-md-2 pull-left control-label" })
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", placeholder = "Enter any additional notes." })
            @Html.ValidationMessageFor(m => m.Remark, "", new { @class = "text-danger" })
        </div>
    </div>
    <hr />
    <div class="form-group">                  
            <div class="col-lg-offset-4 btn-group">
                <a href="/" class="btn btn-warning">&emsp;&nbsp;Cancel&nbsp;&emsp;</a>
                <input type="submit" value="&emsp;&nbsp;&nbsp;&nbsp;Send&nbsp;&nbsp;&nbsp;&emsp;" class="btn btn-primary" />
            </div>
    </div>
}