@model AllegroExtended.Web.Areas.Administration.ViewModels.AccountRequestDetailsViewModel
@{
    ViewBag.Title = "Requests Details";
}

<h2 class="text-muted">@ViewBag.Title</h2>
<div class="well">
    <p class="lead">Application request from: @Model.Email</p>
    <p class="lead">User name: @Model.UserName</p>
    <p class="lead">From department: @Model.Department</p>
    <p class="lead">Additional notes: @Model.Remark</p>
</div>